#root {
  display: inline-block;
  width: 90%;
  max-width: 2800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px dotted;
  font-family: 'Poppins', sans-serif;  
}


.App {

  text-align: center;
  margin: 50px auto 0;
  width: 90%;
  max-width: 2800px;
  background-color: rgba(255, 255, 255, 0.5);
}

.info_panel {
  text-align: center;
  margin: 50px auto 0;
  width: 100%;
  max-width: 2700px;
  background-color: rgba(14, 133, 231, 0.5);
}

.city_name {
  font-size: 20px;
  margin-bottom: 10px;
}

.current_date {
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  font-style: oblique;
}

.temp {
  font-size: 32px;
  font-weight: 700;
  color: #1e2432;
  text-align: center;
}

.foreCast__card {
  display: inline-block;
  height: 80px;
  width: 13%;
  border: 1px solid red;
  margin: 5px;
}

.foreCast__daily {
    display: flex;
    align-items: flex-start;
}
